body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background: rgb(24, 24, 24);
    color: rgb(119, 119, 119);
}

* {
    font-family: monospace;
}

html {
    scroll-behavior: smooth;
}

.Container {
    margin-bottom: 40px;
}

.ContainerTitle {
    font-size: 32px;
    margin-top: 70px;
}


/* header */

header {
    width: 100%;
    display: flex;
    top: 0;
    padding: 20px;
    position: fixed;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    background: rgb(24, 24, 24);
    align-self: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
}

a {
    margin: 0 30px 0;
    text-decoration: none;
    color: rgb(119, 119, 119);
    display: inline-block;
    text-align: center;
    transition: all .4s linear;
    font-size: 25px;
}

a:hover {
    color: #ffffff;
}

a.nav-link {
    position: relative;
}

a.nav-link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background: #ffffff;
    bottom: 0;
    right: 0;
    transition: all 0.33s linear;
}

a.nav-link:hover::before {
    width: 100%;
    left: 0;
}


/* about */

.aboutContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    justify-content: center;
    align-items: center;
}

.aboutMeTitle2 {
    font-size: 40px;
}

.aboutContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.aboutMe {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.aboutMeText {
    color: rgb(119, 119, 119);
    align-items: center;
    justify-content: center;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
}

.myPhoto {
    width: 300px;
    margin: 20px;
    border-radius: 50%;
}

.aboutTitle {
    font-size: 40px;
    margin: 0;
}


/* work */

.WorkContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.work {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 20px;
}

.workExperience1 .workExperience2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 20px;
    font-size: 18px;
    font-family: monospace;
}

.workText {
    font-size: 18px;
    margin: 20px;
    font-family: monospace;
    line-height: 35px;
}

.workTitle {
    text-align: center;
    font-size: 36px;
    margin: 20px;
    font-family: monospace;
    justify-content: center;
    align-items: center;
    line-height: 25px;
}

.years {
    text-align: right;
    font-size: 20px;
    margin-right: 30px;
}


/* personal projects */

.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.projectsAll {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projectsList {
    width: 500px;
}

.projectLinkImage {
    width: 100%;
    border-radius: 3.5%;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    margin: 20px;
    border-radius: 3%;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 3%;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    border-radius: 3%;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    border-radius: 3%;
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    border-radius: 3%;
    background-color: rgb(15, 15, 15);
    color: rgb(119, 119, 119);
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    text-align: center;
    flex-direction: column;
}

.projectImg {
    border-radius: 3%;
}


/* footer */

footer {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
}

.iconGithub {
    width: 50px;
}

.iconRS {
    height: 50px;
}


/* hide scrollbar  for chrome*/

*::-webkit-scrollbar {
    display: none;
}


/* Hide scrollbar for IE, Edge and Firefox */

* {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}